<app-dashboard-navbar [title]="'Classroom'"></app-dashboard-navbar>
<div class="dashboard-main">
  <div class="container py-3">
    <app-breadcrumb
      [title]="'Classroom: ' + classRoom?.title"
      backLink="/classrooms"
      class="mb-4"
    ></app-breadcrumb>
    <!-- Content -->
    <div class="card app-card content-card">
      <div class="card-body">
        <div class="card-header">
          <div
            class="d-flex justify-content-between flex-wrap align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <app-search-form (onSearch)="onSearch($event)"></app-search-form>
            </div>

            <div>
              <a
                routerLink="/classrooms/{{ classRoomId }}/virtual"
                class="btn btn-full btn-sm me-2"
                >Join Class</a
              >
              <a
                routerLink="/classrooms/{{ classRoomId }}/quizzes"
                class="btn btn-full btn-sm me-2"
              >
                Quizzes
              </a>
              <app-add-btn [title]="'Student'" (onAdd)="onAdd()"></app-add-btn>
            </div>
          </div>
        </div>

        <div class="card-body">
          <h5 class="fw-bold text-muted">Students</h5>
          <div class="app-table-container">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of pager.results; index as i">
                  <tr>
                    <td>{{ i + 1 }}.</td>
                    <td class="text-capitalize">
                      {{ item.student.user.firstname }}
                    </td>
                    <td class="text-capitalize">
                      {{ item.student.user.lastname }}
                    </td>
                    <td>
                      <a
                        href="mailto:{{ item.student.user.email }}"
                        class="link"
                      >
                        {{ item.student.user.email }}
                      </a>
                    </td>
                    <td class="text-center">
                      <div class="d-flex justify-content-center">
                        <app-action-btn
                          [title]="'Remove'"
                          (onAction)="onRemove(item)"
                        ></app-action-btn>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <!-- Load more Btn -->
          <ng-container *ngIf="pager.page < pager.totalPages">
            <div class="text-center">
              <app-load-more-btn
                [loading]="loading"
                (onLoad)="loadData(pager.page + 1)"
              ></app-load-more-btn>
            </div>
          </ng-container>
          <!-- Load more Btn -->
        </div>

        <div class="card-footer text-center">
          <app-foot-note
            [currentPage]="pager.page"
            [totalPages]="pager.totalPages"
          ></app-foot-note>
        </div>
      </div>
    </div>
    <!-- Content -->
  </div>

  <app-main-footer></app-main-footer>
</div>
