.option-card .card-body {
  padding: 0.5rem;
}

.option-card .card-body .form-check,
.option-card .card-body .form-check-label {
  width: 100%;
  padding-left: 0;
}

.quiz-card {
  user-select: none;
}

.quiz-score {
  font-size: 5rem;
  font-weight: 700;
}
