<app-dashboard-navbar [title]="'Dashboard'"></app-dashboard-navbar>
<div class="dashboard-main">
  <div class="container py-3">
    <h5 class="fw-bold text-muted mb-3">Overview</h5>
    <div class="row">
      <ng-container *ngFor="let stat of stats">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-sm-auto mx-md-0 mb-3">
          <app-stats-card [data]="stat"></app-stats-card>
        </div>
      </ng-container>
    </div>

    <!-- Student Active Quizzes -->
    <ng-container *ngIf="currentUserRole === Roles.STUDENT">
      <app-student-quizzes></app-student-quizzes>
    </ng-container>
    <!-- Student Active Quizzes -->
  </div>
  <app-main-footer></app-main-footer>
</div>
