<div class="modal-header">
  <h5 class="modal-title-text text-muted">
    <span *ngIf="data">Edit</span> <span *ngIf="!data">New</span> Quiz Question
  </h5>
  <button class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="dataForm" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="question">Question</label>
      <textarea
        id="question"
        type="text"
        rows="3"
        class="form-control"
        formControlName="question"
        placeholder="Write here..."
        [ngClass]="{
          'border-danger': fc['question'].touched && fc['question'].errors
        }"
      ></textarea>
    </div>

    <div class="mb-3">
      <label>Options</label>

      <div class="py-3" *ngIf="options && options.length > 0">
        <ng-container *ngFor="let option of options; last as last; index as i">
          <div class="d-flex" [ngClass]="{ 'mb-3': !last }">
            <div class="d-grid w-100 me-1">
              <button
                type="button"
                class="btn btn-light"
                [ngClass]="{ 'app-btn-primary': option.option === answer }"
                (click)="setAnswer(option.option)"
              >
                <div class="d-flex align-items-center">
                  <span class="circle-label me-2 align-self-start">
                    {{ i | letterLabel }}
                  </span>
                  <span>{{ option.option }}</span>
                </div>
              </button>
            </div>
            <button
              class="btn text-danger"
              (click)="onRemoveOption(option)"
              type="button"
            >
              <fa-icon
                [icon]="faTrashAlt"
                [hidden]="option.processing"
              ></fa-icon>
              <app-loading [loading]="option.processing"></app-loading>
            </button>
          </div>
        </ng-container>
      </div>

      <!-- Add option -->
      <ng-container *ngIf="options && options.length < 4">
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control me-2"
            placeholder="Option"
            #option
          />
          <app-add-btn
            (onAdd)="onAddOption(option.value); option.value = ''"
            [loading]="processingOption"
          ></app-add-btn>
        </div>
      </ng-container>
      <!-- Add option -->
    </div>

    <div class="d-grid">
      <button class="btn btn-full">
        <span *ngIf="data">Save</span> <span *ngIf="!data">Create</span>
        <app-loading [loading]="processing"></app-loading>
      </button>
    </div>
  </form>
</div>
