<app-dashboard-navbar [title]="'Quiz Questions'"></app-dashboard-navbar>
<div class="dashboard-main">
  <div class="container py-3">
    <div class="mb-3">
      <app-breadcrumb
        backLink="/classrooms/{{ classRoomId }}/quizzes"
        [title]="'Quiz: ' + quiz?.title"
      ></app-breadcrumb>
    </div>

    <!-- Content -->
    <div class="card app-card content-card">
      <div class="card-body">
        <div class="card-header">
          <div
            class="d-flex justify-content-between flex-wrap align-items-center"
          >
            <div class="mb-3 mb-sm-0">
              <app-search-form (onSearch)="onSearch($event)"></app-search-form>
            </div>

            <div>
              <app-action-btn
                [title]="'View Results'"
                class="me-2"
                (onAction)="viewResults()"
              ></app-action-btn>
              <app-add-btn [title]="'Question'" (onAdd)="onAdd()"></app-add-btn>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="app-table-container">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Question</th>
                  <th>Answer</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of pager.results; index as i">
                  <tr>
                    <td>{{ i + 1 }}.</td>
                    <td class="text-capitalize">{{ item.question }}</td>
                    <td class="text-capitalize">{{ item.answer }}</td>
                    <td class="text-center">
                      <app-more-option-btn
                        (onEdit)="onEdit(item)"
                        (onDelete)="onDelete(item)"
                        [loading]="item.processing"
                      ></app-more-option-btn>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <!-- Load more Btn -->
          <ng-container *ngIf="pager.page < pager.totalPages">
            <div class="text-center">
              <app-load-more-btn
                [loading]="loading"
                (onLoad)="loadData(pager.page + 1)"
              ></app-load-more-btn>
            </div>
          </ng-container>
          <!-- Load more Btn -->
        </div>

        <div class="card-footer text-center">
          <app-foot-note
            [currentPage]="pager.page"
            [totalPages]="pager.totalPages"
          ></app-foot-note>
        </div>
      </div>
    </div>
    <!-- Content -->
  </div>

  <app-main-footer></app-main-footer>
</div>
