<div class="modal-header">
  <h5 class="modal-title-text text-muted">Students</h5>
  <button class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <div class="mb-3">
    <app-search-form (onSearch)="onSearch($event)"></app-search-form>
  </div>

  <ul class="app-dropdown-menu">
    <ng-container *ngFor="let student of pager.results">
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex">
          <img [src]="student.user.avatar" alt="" class="avatar me-2" />
          <div>
            <p class="mb-0 text-capitalize">
              {{ student.user.firstname }}&nbsp;{{ student.user.lastname }}
            </p>
            <small class="text-muted text-capitalize">
              {{ student.department.name }}
            </small>
          </div>
        </div>

        <ng-container>
          <div class="align-self-center">
            <ng-container *ngIf="!student.isStudent">
              <app-add-btn
                (onAdd)="addStudent(student)"
                [loading]="student.processing"
              ></app-add-btn>
            </ng-container>

            <ng-container *ngIf="student.isStudent">
              <app-action-btn
                [title]="'Remove'"
                (onAction)="removeStudent(student)"
                [loading]="student.processing"
              ></app-action-btn>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ul>
</div>
