<app-main-navbar></app-main-navbar>
<header class="app-hero">
  <div class="container">
    <div class="app-hero-textbox">
      <div class="app-hero-content">
        <h1 class="app-hero-title">Improved Electronic Learning System</h1>
        <p class="app-hero-subtitle">With real time virtual classroom</p>
      </div>

      <div class="app-hero-cta">
        <a routerLink="/login" class="btn btn-full-lg">Get Started</a>
      </div>
    </div>
  </div>
  <div class="app-hero-shape app-hero-shape--circle"></div>
</header>

<!-- Features -->
<div class="features py-5" id="features">
  <div class="container">
    <div class="text-center mb-4">
      <h2 class="title-text">Features</h2>
      <p class="subtitle-text">
        We have eradicated the need for a physical classroom
      </p>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card app-card feature-card">
          <div class="card-body">
            <div class="text-center">
              <fa-icon [icon]="faChalkboard"></fa-icon>
              <h5 class="card-title mb-3">Virtual Classroom</h5>
            </div>

            <p class="m-0">
              Instantly create classrooms, add students to the class room and
              start teaching your class. From anywhere at anytime
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card app-card feature-card">
          <div class="card-body">
            <div class="text-center">
              <fa-icon [icon]="faTasks"></fa-icon>
              <h5 class="card-title mb-3">Realtime Assessments</h5>
            </div>

            <p class="m-0">
              Create quiz and assess students knowledge on a particular topic.
              Students get the result of the quiz on submittion with no delay
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card app-card feature-card">
          <div class="card-body">
            <div class="text-center">
              <fa-icon [icon]="faClock"></fa-icon>
              <h5 class="card-title mb-3">24/7 Support</h5>
            </div>

            <p class="m-0">
              Students gets a 24/7 support from the teachers eradicating the
              need for a physical meeting.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features -->

<!-- Footer -->
<app-main-footer></app-main-footer>
<!-- Footer -->
