<ng-container *ngIf="loading">
  <div class="wrapper d-flex align-items-center justify-content-center">
    <div class="text-center">
      <app-loading [loading]="true"></app-loading>
      <p>Loading please wait...</p>
    </div>
  </div>
</ng-container>

<div class="wrapper" id="meeting-container"></div>
<div class="fixed-bottom bg-dark">
  <button class="btn text-white py-1" (click)="leaveClassroom()" type="button">
    <div class="d-flex align-items-center">
      <fa-icon [icon]="faArrowLeft" class="me-2"></fa-icon>
      <span>Exit Classroom</span>
    </div>
  </button>
</div>
