<nav class="navbar navbar-light bg-light fixed-top dashboard-navbar">
  <div class="container-fluid">
    <div>
      <button class="btn btn-lg p-0 menu-btn me-1" (click)="toggleSidebar()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <a href="/dashboard" class="navbar-brand d-none d-md-inline-block">
        <img src="./assets/imgs/logo.png" alt="Logo" class="logo" />
      </a>
      <span class="fw-bold d-inline-block ms-4">{{ title }}</span>
    </div>

    <div id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="profile">
          <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              [ngbPopover]="popContent"
              placement="bottom-end"
            >
              <div class="d-flex align-items-center">
                <span class="me-2 small fw-bold">
                  Howdy
                  <span class="text-capitalize">{{ profile.firstname }}</span>
                </span>
                <img [src]="profile.avatar" alt="Avatar" class="avatar" />
              </div>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<aside class="sidebar" [ngClass]="{ open: isSidebarOpen }">
  <div>
    <ng-container *ngIf="isSidebarOpen">
      <div class="text-end mb-3">
        <button class="btn btn-cirlce-close ms-auto" (click)="toggleSidebar()">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
    </ng-container>
    <ul class="sidebar-nav">
      <li>
        <a
          routerLink="/dashboard"
          [ngClass]="{ active: activeUrl === '/dashboard' }"
        >
          <div class="d-flex align-items-center">
            <fa-icon [icon]="faDashboard"></fa-icon>
            <span class="ms-2">Dashboard</span>
          </div>
        </a>
      </li>

      <ng-container *ngIf="profile && profile.role === Roles.ADMIN">
        <li>
          <a
            routerLink="/students"
            [ngClass]="{ active: activeUrl.includes('/students') }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faUsers"></fa-icon>
              <span class="ms-2">Students</span>
            </div>
          </a>
        </li>

        <li>
          <a
            routerLink="/lecturers"
            [ngClass]="{ active: activeUrl === '/lecturers' }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faChalkboardTeacher"></fa-icon>
              <span class="ms-2">Lecturers</span>
            </div>
          </a>
        </li>

        <li>
          <a
            routerLink="/departments"
            [ngClass]="{ active: activeUrl === '/departments' }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faListAlt"></fa-icon>
              <span class="ms-2">Departments</span>
            </div>
          </a>
        </li>
      </ng-container>

      <ng-container *ngIf="profile && profile.role === Roles.LECTURER">
        <li>
          <a
            routerLink="/classrooms"
            [ngClass]="{ active: activeUrl === '/classrooms' }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faWifi"></fa-icon>
              <span class="ms-2">Classrooms</span>
            </div>
          </a>
        </li>
      </ng-container>

      <li>
        <a
          routerLink="/settings"
          [ngClass]="{ active: activeUrl === '/settings' }"
        >
          <div class="d-flex align-items-center">
            <fa-icon [icon]="faCog"></fa-icon>
            <span class="ms-2">Settings</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div
  class="overlay"
  [ngClass]="{ open: isSidebarOpen }"
  (click)="toggleSidebar()"
></div>

<ng-template #popContent>
  <div class="d-flex align-items-center mb-2">
    <img [src]="profile?.avatar" alt="Avatar" class="avatar me-2" />
    <span>{{ profile?.firstname }}</span>
  </div>

  <button class="btn text-danger px-0" (click)="logout()">
    <div class="d-flex align-items-center">
      <fa-icon [icon]="faPowerOff" class="me-2"></fa-icon>
      <span>Logout</span>
    </div>
  </button>
</ng-template>
