<nav class="navbar navbar-light bg-light fixed-top dashboard-navbar">
  <div class="container-fluid">
    <div>
      <button class="btn btn-lg p-0 menu-btn me-1" (click)="toggleSidebar()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <a href="/dashboard" class="navbar-brand d-none d-md-inline-block">
        <img src="./assets/imgs/logo.png" alt="Logo" class="logo" />
      </a>
      <span class="fw-bold d-inline-block ms-4">{{ title }}</span>
    </div>

    <div id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="profile">
          <li class="nav-item">
            <app-profile-popover [profile]="profile"></app-profile-popover>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<aside class="sidebar" [ngClass]="{ open: isSidebarOpen }">
  <div>
    <ng-container *ngIf="isSidebarOpen">
      <div class="text-end mb-3">
        <button class="btn btn-cirlce-close ms-auto" (click)="toggleSidebar()">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
    </ng-container>
    <ul class="sidebar-nav">
      <li>
        <a
          routerLink="/dashboard"
          [ngClass]="{ active: activeUrl === '/dashboard' }"
        >
          <div class="d-flex align-items-center">
            <fa-icon [icon]="faDashboard"></fa-icon>
            <span class="ms-2">Dashboard</span>
          </div>
        </a>
      </li>

      <ng-container *ngIf="currentUserRole === Roles.ADMIN">
        <li>
          <a
            routerLink="/students"
            [ngClass]="{ active: activeUrl.includes('/students') }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faUsers"></fa-icon>
              <span class="ms-2">Students</span>
            </div>
          </a>
        </li>

        <li>
          <a
            routerLink="/lecturers"
            [ngClass]="{ active: activeUrl === '/lecturers' }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faChalkboardTeacher"></fa-icon>
              <span class="ms-2">Lecturers</span>
            </div>
          </a>
        </li>

        <li>
          <a
            routerLink="/departments"
            [ngClass]="{ active: activeUrl === '/departments' }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faListAlt"></fa-icon>
              <span class="ms-2">Departments</span>
            </div>
          </a>
        </li>
      </ng-container>

      <ng-container *ngIf="currentUserRole === Roles.LECTURER">
        <li>
          <a
            routerLink="/classrooms"
            [ngClass]="{ active: activeUrl === '/classrooms' }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faWifi"></fa-icon>
              <span class="ms-2">Classrooms</span>
            </div>
          </a>
        </li>
      </ng-container>

      <ng-container *ngIf="currentUserRole === Roles.STUDENT">
        <li>
          <a
            routerLink="/student/classrooms"
            [ngClass]="{ active: activeUrl === '/student/classrooms' }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faWifi"></fa-icon>
              <span class="ms-2">Classrooms</span>
            </div>
          </a>
        </li>

        <li>
          <a
            routerLink="/student/quizresults"
            [ngClass]="{ active: activeUrl === '/student/quizresults' }"
          >
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faTasks"></fa-icon>
              <span class="ms-2">Quiz Results</span>
            </div>
          </a>
        </li>
      </ng-container>

      <li>
        <a
          routerLink="/settings"
          [ngClass]="{ active: activeUrl === '/settings' }"
        >
          <div class="d-flex align-items-center">
            <fa-icon [icon]="faCog"></fa-icon>
            <span class="ms-2">Settings</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div
  class="overlay"
  [ngClass]="{ open: isSidebarOpen }"
  (click)="toggleSidebar()"
></div>
